<h2>Restaurants</h2>
{{#each restaurants as |restaurant index|}}
<h3>
{{!-- removed controllers route --}}
  <a href="/restaurants/{{restaurant.name}}">{{restaurant.name}}</a>
</h3>
{{/each}}

<h2>Add Restaurant</h2>
{{!-- removed controllers route --}}
<form action="/restaurants" method="post">
  <input type="text" name="restaurant[name]" placeholder="Name">
  <input type="text" name="restaurant[address.street]" placeholder="street address">
  <input type="text" name="restaurant[address.zipcode]" placeholder="zipcode">
  <input type="text" name="restaurant[yelpUrl]" placeholder="yelp reviews">
  <input type="submit" value="Add Restaurant">
</form>
